<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>About</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href=" /home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href=" /home/assets/swiper/swiper-bundle.min.css" rel="stylesheet" />


  <!-- Template Main CSS Files -->
  <link href=" /home/assets/css/variables.css" rel="stylesheet" />
  <link href=" /home/assets/css/blogstyle.css" rel="stylesheet" />
  <link href=" /home/assets/css/style.css" rel="stylesheet" />

</head>

<body>
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">MindSensei@gamil.com</a>
        <i class="bi bi-phone"></i> 002 9909 777
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index ">MindSensei</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index " class="logo me-auto"><img src=" /home/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index ">Home</a></li>
          <li><a class="nav-link scrollto" href="about ">About</a></li>
          <li><a class="nav-link scrollto" href="Servies ">Services</a></li>

          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li><a class="nav-link scrollto" href="indexblog ">Blogs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div>
        <a href="#registration" class="registration-btn scrollto">Registration</a>
        <a href="#login" class="login-btn scrollto">Login</a>
      </div>

    </div>
</header><!-- End Header -->
  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src=" /home/assets/img/about11.jpeg" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">About us</div>
              <h2 class="mb-4 display-4">Company History</h2>

              <p>
                In the ever-evolving landscape of personal and professional development, mindSensei stands tall as a
                beacon of guidance and growth. Founded in [2019], mindSensei emerged from a shared vision among a group
                of seasoned consultants, coaches, and educators who recognized a profound need for a holistic approach
                to mentoring and consultancy services.</p>
              <p>
                As word of mindSensei's transformative impact spread, the company experienced rapid expansion,
                attracting top talent from diverse backgrounds who shared its ethos of empowerment and growth. With each
                new member joining the fold, mindSensei strengthened its foundation as a community-driven organization
                dedicated to fostering meaningful connections and fostering personal and professional development.
              </p>
              <p>Today, mindSensei stands as a trusted partner for individuals and organizations alike, offering a
                diverse range of consulting services tailored to meet the unique needs of each client. With a global
                network of certified mentors and coaches, mindSensei continues to lead the way in delivering impactful
                solutions that drive sustainable growth and success.</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src=" /home/assets/img/expertise.jpg" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Expertise &amp; Experience</div>
              <h2 class="mb-4 display-4">Expertise &amp; Experience</h2>

              <p>At mindSensei, our expertise lies at the intersection of cognitive psychology, leadership development,
                and holistic well-being. With years of experience in the consulting industry, we have honed our skills
                and refined our methodologies to deliver unparalleled results for our clients.<br>
                Cognitive Psychology: Our foundation in cognitive psychology allows us to understand how individuals
                process information, make decisions, and develop habits. By leveraging principles from cognitive
                science, we help our clients optimize their cognitive processes, enhance their problem-solving
                abilities, and overcome mental barriers to success.<br>
                Client Success Stories: Over the years, we have had the privilege of partnering with numerous clients to
                achieve transformative outcomes. From helping individuals land their dream jobs to guiding organizations
                through complex transformations, our track record of success speaks for itself. Our client testimonials
                and case studies showcase the tangible impact of our work and the lasting relationships we've built
                along the way.<br>
                At mindSensei, we are committed to excellence, innovation, and continuous improvement. Our team of
                dedicated professionals is passionate about empowering individuals and organizations to reach their full
                potential and thrive in today's dynamic world. Whatever your goals may be, we're here to support you
                every step of the way.</p>

            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Latest News</h2>
            <p>Recent surveys and statistics paint a grim picture of this crisis. According to The World Health
              Organization (WHO), approximately 10% of adolescents are lonely. Additionally, a 2021 global survey by
              Ipsos revealed that 4 in 10 urban Indians (43%) said they felt lonely and friendless at most times,
              especially after the Covid-19 pandemic.<br>
              “Despite a lot of Gen Z people having friends and socialising, they may still feel lonely. Loneliness may
              not be a simple lack of connections, but a lack of emotionally fulfilling connections,” asserts Malika
              Chandra, psychotherapist, MC Psychotherapy.</p>
            <p>Gen Z-ers today have made a mark for themselves by becoming young achievers in several fields, not only at the national level but also at the global. Amid all the success stories and the excitement for the next big development in the tech world, however, several accounts are less talked about. Among them is what experts have termed the ‘loneliness epidemic’. </p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src=" /home/assets/img/lonly.jpeg" alt="" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src=" /home/assets/img/lonly1.jpg" alt="" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MindSensei</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Appointment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Child Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Couple Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Stress</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Depression</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Personal Growth Therapy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For Doctors</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="doctorregistration">For Regestration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="doctorsign">For Log in </a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MindSensei</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" /home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src=" /home/assets/swiper/swiper-bundle.min.js"></script>
  <script src=" /home/assets/swiper/swiper-bundle.min.js.map"></script>

  <!-- Template Main JS File -->
  <script src=" /home/assets/js/mainblog.js"></script>
</body>

</html>