<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MindSensei</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/home/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/home/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/home/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/home/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/home/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/home/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">MindSensei@gmail.com</a>
        <i class="bi bi-phone"></i> 002 9909 777
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">MindSensei</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>

          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li><a class="nav-link scrollto" href="indexblog">Blogs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div>
        <a href="patientregister" class="registration-btn scrollto">Register</a>
        <a href="patientlogin" class="login-btn scrollto">Login</a>
      </div>

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to MindSensei</h1>
      <h2>Healing Starts Here: Expert Therapy for Mind, Body, and Soul</h2>
      <a href="#appointment" class="btn-get-started scrollto">Book Now</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose MindSensei?</h3>
              <p>
                At MindSence, we bring years of experience and expertise to the table. Our team comprises seasoned
                professionals who have successfully tackled a wide range of challenges in Mental Health Issue. With our
                deep understanding of psychology, we deliver tailored solutions that drive results.
              </p>

            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bxs-brain'></i>
                    <h4>Services</h4>
                    <p>"Are you a service? Because you've got all the features I've been looking for."</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-plus-medical'></i>
                    <h4>Best Expertise</h4>
                    <p>"Are you the best expertise? Because you've got all the answers I need."</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-health'></i>
                    <h4>Make Appointment</h4>
                    <p>"Are you free for an appointment? Because I'd love to schedule some time with you."</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
    <div class="containers">
      <section class="about">
        <div class="about-image">
          <img src="/home/assets/img/about.jpg" alt="" />
        </div>
        <div class="about-content">
          <h2>Expertise and Experience</h2>
          <p>We prioritize our clients above all else. Our client-centric approach ensures that we truly
            understand your unique needs, challenges, and goals. We work closely with you to develop
            strategies and solutions that are specifically tailored to address your requirements and deliver
            tangible value. Our track record speaks for itself. Over the years, we have helped numerous
            clients achieve their objectives and surpass their expectations. our consistent track record of
            success demonstrates our ability to deliver results. We believe in building strong,
            collaborative partnerships with our clients. </p>
          <a href="about.html" class="read-more">Read More</a>

        </div>
      </section>
    </div>

    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section>
      <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Our Services</h2>
          <p>Explore new avenues of healing and transformation through our innovative psychedelic therapy sessions.</p>
        </div>
        <div class="content-box">
          <div class="card">
            <i class="bx bx-child bx-lg"></i>
            <h2>Child Therapy</h2>
            <p>
              Our child therapy services provide a safe and supportive environment
              for children to express their thoughts and emotions, and receive
              guidance in dealing with life’s challenges.
            </p>
          </div>
          <div class="card">
            <i class="bx bx-heart bx-lg"></i>
            <h2>Couple Therapy</h2>
            <p>
              Our couple therapy services provide a safe and supportive space for
              couples to work through challenges, improve communication, and
              strengthen their relationship.
            </p>
          </div>
          <div class="card">
            <i class="bx bx-user bx-lg"></i>

            <h2> Therapy For Stress</h2>
            <p>
              The purpose of Stress Management Counselling and Psychotherapy is
              not to eliminate stress from your life. This is impossible. Stress
              is a natural response to change, and change is inevitable.
            </p>
          </div>
          <div class="card">
            <i class="bx bx-sad bx-lg"></i>
            <h2>Therapy For Depression</h2>
            <p>
              Depression is a word that is widely used but less understood. It is
              often confused with sadness, anxiety, phobia or stress.
            </p>
          </div>
          <div class="card">
            <i class="bx bx-ghost bx-lg"></i>
            <h2>Fear & Phobias Therapy</h2>
            <p>
              Fear arises with the threat of harm, either physical, emotional, or
              psychological, real or imagined.
            </p>
          </div>
          <div class="card">
            <i class="bx bx-street-view bx-lg"></i>
            <h2>Personal Growth Therapy</h2>
            <p>
              Personal Growth therapy is one type of psychotherapy in which a
              trained professional helps a single person work through personal
              issues they have been facing.
            </p>

          </div>
          <a href="Servies.html" class="buttons">Know More</a>
        </div>
      </div>
    </section>


    <!-- End Services Section -->

    <!-- ======= Appointment Section ======= -->
    <a href="patientregister">
      <div>
        <section id="appointment" class="appointment section-bg">
          <div class="container">
            <div class="section-title">
              <h2>Make an Appointment</h2>
              <p>Invest in your mental well-being and reclaim your inner strength. Secure your appointment and embrace the transformative power of therapy.</p>
            </div>
          </div>
        </section>
      </div>
    </a>
    
     
       <!-- End Appointment Section -->

    <!-- ======= Doctors Section ======= -->
    <a href="/patientregister">
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Our Doctors</h2>
          <p>List of Top Psychologists in India. Best Psychotherapists, Counsellors, Mental Health Therapists in India.
            Consult the best psychologist in India now.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/home/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Evelyn Morgan</h4>
                <span>Psychotherapist</span>
                <p>A compassionate and insightful therapist known for her empathetic approach and ability to create a
                  safe space for clients to explore their emotions and experiences.</p>
                  <a href="/patientregister" class="buttons">Call</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/home/assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Maya Patel</h4>
                <span>Psychotherapist</span>
                <p>A seasoned therapist with expertise in trauma-informed care, Dr. Patel is dedicated to helping
                  clients heal from past traumas and build resilience in the face of adversity.</p>
                  <a href="/patientregister" class="buttons">Call</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/home/assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Jonathan Hayes</h4>
                <span>Psychotherapist</span>
                <p>ith a background in cognitive-behavioral therapy, Dr. Hayes specializes in helping clients challenge
                  negative thought patterns and develop effective coping strategies to manage anxiety and depression.
                </p>
                <a href="/patientregister" class="buttons">Call</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/home/assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Emily Chang</h4>
                <span>Psychotherapist</span>
                <p>Specializing in couples therapy, Dr. Chang is skilled at navigating relationship dynamics and
                  fostering open communication to help partners strengthen their connection and resolve conflicts.</p>
                  <a href="/patientregister" class="buttons">Call</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  </a>
    <!-- End Doctors Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Please see some of most frequently asked questions below.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">Why Should I Choose These Types Of Therapy Over Other Therapies? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Choosing a psychotherapist who specializes in a specific approach can offer a tailored and effective
                  path to healing and personal growth. Each therapy modality has its unique strengths and techniques,
                  honed through years of research and practice. By selecting a therapist with expertise in your chosen
                  modality, you're benefiting from their deep understanding and proficiency in applying these proven
                  methods.<br>
                  Specialized therapies are designed to target specific issues or populations, leading to more efficient
                  and impactful outcomes. Whether you're seeking couples therapy, trauma-informed care, or LGBTQ+
                  affirmative therapy, choosing a therapist with expertise in your area of concern means you're more
                  likely to see tangible results in a shorter amount of time.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">What Is The Difference Between Talking With A Friend And Talking With A Therapist? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  While talking with a friend can be comforting and supportive, engaging in therapy with a trained
                  therapist offers distinct benefits. A friend's perspective may be influenced by their personal biases,
                  experiences, and limitations in providing objective feedback. Additionally, friends may offer advice
                  or solutions based on their own preferences rather than what's best for you.
                  In contrast, therapy provides a confidential and nonjudgmental space where you can freely express your
                  thoughts, feelings, and concerns without fear of judgment or repercussions. Therapists are trained to
                  listen actively, empathize, and help you gain insight into your emotions and behaviors. They offer a
                  professional perspective rooted in evidence-based techniques and therapeutic modalities tailored to
                  your unique needs.<br>
                  Moreover, therapy focuses on facilitating personal growth, self-awareness, and coping skills
                  development. Unlike casual conversations with friends, therapy sessions are structured to explore
                  underlying issues, challenge negative thought patterns, and implement practical strategies for
                  managing stress, improving relationships, and enhancing overall well-being.
                  Ultimately, while friends provide valuable support, therapy offers a dedicated space for deeper
                  exploration, healing, and growth under the guidance of a trained professional.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">Does Online Therapy work? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Online therapy is seen by many as a convenient and flexible way of being able to access counselling
                  from the comfort of one’s own home. With technology ever modernising, remote means of communication is
                  now so good that there have been several studies indicating that online support is just as effective
                  as traditional counselling face-to-face. For example, Dr. Kessler and colleagues found that online
                  therapy was appropriate for clients with severe symptoms of depression when delivered in real-time.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">Will Anyone Else Have To Be Involved In My Online Counselling?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  No. Nobody else has to know that you are seeking therapy; however, if we both agree that you would
                  benefit from an antidepressant, we would normally refer you to your GP. Some people like their GP’s to
                  be aware that they are seeking treatment; if you would like us to write to your GP informing them that
                  you are seeing me for therapy, we would be happy to do so.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">Difference between counselling and general guidance?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Guidance is a process of helping people make important choices that affect their lives, such as
                  choosing healthy habits, the things to look in your partner, how individuals can focus more on their
                  work and life whereas in online counselling counsellors will try to bring the change or insight within
                  the people to overcome the issues that they face. One major distinction between guidance and
                  counselling is that guidance focuses on helping individuals choose what they value most, whereas
                  counselling focuses on helping them make changes.

                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/home/assets/img/testimonials/1s.jpeg" class="testimonial-img" alt="">
                  <h3>Ms.Sukhani Walia</h3>
                  <h4>Client</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I am immensely grateful for Mr. Shouryas guidance and expertise. Their profound insights and patient
                    listening helped me unravel complex emotions and find clarity in the midst of confusion. Their
                    genuine empathy and encouragement empowered me to confront challenges and make positive changes in
                    my life. I highly recommend to anyone seeking professional support and a nurturing environment for
                    personal growth.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/home/assets/img/testimonials/sara2.jpeg" class="testimonial-img" alt="">
                  <h3>Sara Sharma</h3>
                  <h4>Client</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I really feel connected to my therapist and I feel that he has been such a benefit to my life. I
                    have learned a lot of new coping skills and still learning as my 2 sessions are still left to do. He
                    is such a nice and a humble person and I love my counseling sessions. I have been able to work
                    through much of my past issues with depression and anxiety. The worksheets he provides,really helps
                    me a lot.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/home/assets/img/testimonials/kurtu.webp" class="testimonial-img" alt="">
                  <h3>Kratu Sharma</h3>
                  <h4>Client</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Dr Maya Patel guidance helped my partner and me navigate a rough patch in our relationship. She
                    provided effective communication tools and helped us understand each others perspectives. We feel so
                    much closer now.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/home/assets/img/testimonials/tushar.jpeg" class="testimonial-img" alt="">
                  <h3>Mr.Tushar Panda</h3>
                  <h4>Client</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Lifestyle issues not feeling motivated lot of pressure tension overthinking every day felt like a
                    challenge.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/home/assets/img/testimonials/rhaki2.avif" class="testimonial-img" alt="">
                  <h3>Ms.Rakhi</h3>
                  <h4>Client</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    From our first session, Urvashi was easy to talk to. I was able to share my fears and together we
                    were able to overcome my problems. With her guidance, I am glad to say that I am able to make new
                    friends.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MindSensei</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Appointment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Child Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Couple Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Stress</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Depression</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Personal Growth Therapy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For Doctors</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="doctorregister">For Regestration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="doctorsign">For Log in </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MindSensei</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/home/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/home/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/home/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/home/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/home/assets/js/main.js"></script>

</body>

</html>