<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Blogs</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href=" /home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
  <link href=" /home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href=" /home/assets/swiper/swiper-bundle.min.css" rel="stylesheet" />


  <!-- Template Main CSS Files -->
  <link href=" /home/assets/css/variables.css" rel="stylesheet" />
  <link href=" /home/assets/css/blogstyle.css" rel="stylesheet" />
  <link href=" /home/assets/css/style.css" rel="stylesheet" />

</head>

<body>
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">MindSensei@gmail.com</a>
        <i class="bi bi-phone"></i> 002 9909 777
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index ">MindSensei</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index " class="logo me-auto"><img src=" /home/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index">Home</a></li>
          <li><a class="nav-link scrollto" href="about ">About</a></li>
          <li><a class="nav-link scrollto" href="Servies ">Services</a></li>

          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li><a class="nav-link scrollto" href="indexblog ">Blogs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div>
        <a href="patientregister" class="registration-btn scrollto">Registration</a>
        <a href="patientlogin" class="login-btn scrollto">Login</a>
      </div>

    </div>
</header><!-- End Header -->

  <main id="main">
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single-post " class="img-bg d-flex align-items-end" style="
                        background-image: url(' /home/assets/blogimg/love.jpg');
                      ">
                    <div class="img-bg-inner">
                      <h2>
                        Supporting Loved Ones Through Tough Times
                      </h2>
                      <p>
                        Listening is one of the most powerful ways to show support. Be fully present when your loved one
                        is speaking, without interrupting or trying to offer solutions right away.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post " class="img-bg d-flex align-items-end" style="
                        background-image: url(' /home/assets/blogimg/selfcare.png');
                      ">
                    <div class="img-bg-inner">
                      <h2>
                        Encourage Self-Care
                      </h2>
                      <p>
                        Encourage your loved one to prioritise self-care activities that promote their well-being, such
                        as exercise or hobbies they enjoy.

                      </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post " class="img-bg d-flex align-items-end" style="
                        background-image: url(' /home/assets/blogimg/feeling.jpeg');
                      ">
                    <div class="img-bg-inner">
                      <h2>
                        Validate Their Feelings
                      </h2>
                      <p>
                        It’s essential to validate the feelings of someone going through a challenging time, even if you
                        don’t fully understand them. Let them know that it’s okay to feel the way they do and that
                        you’re there to support them through it without minimising their experiences.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post " class="img-bg d-flex align-items-end" style="
                        background-image: url(' /home/assets/blogimg/listner.jpg');
                      ">
                    <div class="img-bg-inner">
                      <h2>
                        Be an Active Listener
                      </h2>
                      <p>
                        Listening is one of the most powerful ways to show support. Be fully present when your loved one
                        is speaking, without interrupting or trying to offer solutions right away.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post "><img src=" /home/assets/blogimg/confidences.jpeg" alt="" class="img-fluid" /></a>
              <div class="post-meta">
                <span class="date">confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2>
                <a href="single-post ">Confidentiality in Online Therapy</a>
              </h2>
              <p class="mb-4 d-block">
                Confidentiality is a cornerstone of ethical and effective counselling, and here at Counselling
                Psychology Online, we believe in fostering an environment where clients feel secure in discussing their
                thoughts, feelings, and experiences openly. In this blog post, we aim to provide a comprehensive
                understanding of the confidentiality measures in place while also addressing the nuances that may arise
                during the therapeutic process.
              </p>

              <div class="d-flex align-items-center author">
                <div class="photo">
                  <img src=" /home/assets/blogimg/person-1.jpg" alt="" class="img-fluid" />
                </div>
                <div class="name">
                  <h3 class="m-0 p-0">Cameron Williamson</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/Psychologists.jpg" alt="" class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">confidences</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">What is the difference between Psychologists, Therapists and
                      Counsellors?</a>
                  </h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/first.png" alt="" class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Online Counselling</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 17th '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">What to expect in your first therapy session?</a>
                  </h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/10ways.jpg" alt="" class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">confidences</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Mar 15th '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">10 signs you need therapy</a>
                  </h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/Social Anxiety.jpg" alt=""
                      class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date"></span>Anxiety
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">How to deal with Social Anxiety?</a>
                  </h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/stop.jpg" alt="" class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Stop Overthing</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Mar 1st '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">How to Stop-Overthing?</a>
                  </h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/mind.jpg" alt="" class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Be yourself </span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2>
                    <a href="single-post ">What activities or hobbies make you feel most like yourself?</a>
                  </h2>
                </div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">
                <div class="trending">
                  <h3>QUOTES</h3>
                  <ul class="trending-post">
                    <li>
                      <a href="single-post ">
                        <span class="number">1</span>
                        <h3>
                          The greatest enemy of knowledge is not ignorance, it is the illusion of knowledge.
                        </h3>
                        <span class="author"> Daniel J. Boorstin</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post ">
                        <span class="number">2</span>
                        <h3>Overthinking is the art of creating problems that weren't even there.
                        </h3>
                        <span class="author">Albert Einstein</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post ">
                        <span class="number">3</span>
                        <h3>
                          Life is a journey that must be traveled no matter how bad the roads and accommodations
                        </h3>
                        <span class="author"> Oliver Goldsmith</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post ">
                        <span class="number">4</span>
                        <h3>
                          "Life is short, and it's up to you to make it sweet.
                        </h3>
                        <span class="author">Sarah Louise Delany</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post ">
                        <span class="number">5</span>
                        <h3>
                          The best love is the kind that awakens the soul and makes us reach for more, that plants a
                          fire in our hearts and brings peace to our minds.
                        </h3>
                        <span class="author">Nicholas Sparks</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End Trending Section -->
            </div>
          </div>
        </div>
        <!-- End .row -->
      </div>
    </section>
    <!-- End Post Grid Section -->

    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Confidences</h2>
          <div><a href="category " class="more">See All Culture</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="d-lg-flex post-entry-2">
              <a href="single-post " class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src=" /home/assets/blogimg/con3.jpg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Confidences</span>
                  <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                </div>
                <h3>
                  <a href="single-post ">What is the difference between Psychologists, Therapists and
                    Counsellors?</a>
                </h3>
                <p>
                  A psychologist is someone who has studied psychology at university and holds a degree in the subject.
                  Psychologists work with people to help them understand their thoughts, feelings, and behaviours.The
                  term “therapist” is used to describe a wide range of professionals who work in mental health.
                  Confusingly, this can include psychologists, as well as other professionals such as social workers,
                  psychotherapists and marriage and family therapists.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single-post "><img src=" /home/assets/blogimg/con4.jpeg" alt=""
                      class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Confidences</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2 class="mb-2">
                    <a href="single-post ">What to expect in your first therapy session?</a>
                  </h2>
                  <span class="author mb-3 d-block">Nicholas Sparks</span>
                  <p class="mb-4 d-block">
                    Your therapist will likely start by introducing themselves and explaining their approach to therapy.
                    They might also ask you to introduce yourself and share a bit about why you're seeking therapy.You
                    may need to fill out some paperwork, which could include consent forms, privacy policies, and basic
                    information about yourself.
                    Your therapist will probably ask you about your goals for therapy. What do you hope to achieve? What
                    challenges are you facing? This helps them tailor the therapy to your needs.
                  </p>
                </div>

              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/con2.jpg" alt=""
                      class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Confidences</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2 class="mb-2">
                    <a href="single-post ">10 Signs needs therapy</a>
                  </h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">
                    Persistent Feelings of Sadness or Hopelessness: If you find yourself feeling down, hopeless, or empty most of the time, therapy can help you explore these feelings and develop coping strategies.Constant worry, fear, or anxiety that interferes with your daily life, relationships, or ability to function may indicate an anxiety disorder that could benefit from therapy.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Confidence is silent. Insecurities are loud.</a>
              </h2>
              <span class="author mb-3 d-block">Unknown</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">With confidence, you have won before you have started.</a>
              </h2>
              <span class="author mb-3 d-block">Marcus Garvey</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Act as if what you do makes a difference. It does.</a>
              </h2>
              <span class="author mb-3 d-block">William James</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Optimism is the faith that leads to achievement. Nothing can be done without hope and confidence</a>
              </h2>
              <span class="author mb-3 d-block">Helen Keller</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">The most beautiful thing you can wear is confidence.</a>
              </h2>
              <span class="author mb-3 d-block"> Blake Lively</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Confidences</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Confidence comes not from always being right, but from not fearing to be wrong.</a>
              </h2>
              <span class="author mb-3 d-block">Peter-T</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Culture Category Section -->

    <!-- ======= Business Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Anxiety</h2>
          <div><a href="category " class="more">See All Business</a></div>
        </div>

        <div class="row">
          <div class="col-md-9 order-md-2">
            <div class="d-lg-flex post-entry-2">
              <a href="single-post " class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src=" /home/assets/blogimg/anixty.jpg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Anxiety</span>
                  <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                </div>
                <h3>
                  <a href="single-post ">How to deal with Social Anxiety??</a>
                </h3>
                <p>
                  The fear, worry, and avoidance that characterise social anxiety disorder are different from normal anxiety because they affect relationships, daily activities, work, school, and other activities. The onset of social anxiety disorder often occurs between the ages of early and mid-teens.
                </p>
                <div class="d-flex align-items-center author">
                  <div class="photo">
                    <img src=" /home/assets/blogimg/person-4.jpg" alt="" class="img-fluid" />
                  </div>
                  <div class="name">
                    <h3 class="m-0 p-0">Helen Keller</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single-post "><img src=" /home/assets/blogimg/anixty1.jpg" alt=""
                      class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Anxiety</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2 class="mb-2">
                    <a href="single-post ">How does anxiety impact your daily life, and what coping strategies do you use to manage it?</a>
                  </h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">
                    Anxiety affects various aspects of my daily life, from simple tasks like going to the grocery store to more significant events like social gatherings or work presentations. I often experience racing thoughts, physical symptoms like rapid heartbeat or sweating, and a constant sense of dread or worry about what could go wrong.
                  </p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta">
                    <span class="date">Anxiety</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2 class="mb-2">
                    <a href="single-post ">Feelings come and go like clouds in a windy sky. Conscious breathing is my anchor.</a>
                  </h2>
                  <span class="author mb-3 d-block">Thich Nhat Hanh</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single-post "><img src=" /home/assets/blogimg/anixty2.jpg" alt=""
                      class="img-fluid" /></a>
                  <div class="post-meta">
                    <span class="date">Anxiety</span>
                    <span class="mx-1">&bullet;</span>
                    <span>Jul 5th '22</span>
                  </div>
                  <h2 class="mb-2">
                    <a href="single-post ">How does anxiety make you feel?</a>
                  </h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">
                    Anxiety makes me feel nervous and on edge most of the time. I often have trouble relaxing and feel like something bad is going to happen, even when everything seems fine. Life is full of ups and downs, and learning to embrace change and adaptability is key to navigating challenges and finding happiness. Instead of resisting change, try to approach it with an open mind and a willingness to learn and grow. Remember that setbacks and failures are opportunities for growth and self-discovery, and that change often leads to new and exciting possibilities. In conclusion, feeling unhappy with your life is a common experience, but it doesn't have to define your future. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Every time you are tempted to react in the same old way, ask if you want to be a prisoner of the past or a pioneer of the future.</a>
              </h2>
              <span class="author mb-3 d-block">Deepak Chopra</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Anxiety is like a rocking chair. It gives you something to do but never gets you anywhere</a>
              </h2>
              <span class="author mb-3 d-block">Jodi Picoult</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">I can accept failure, everyone fails at something. But I can't accept not trying.</a>
              </h2>
              <span class="author mb-3 d-block">Michael Jordan</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Failure is not falling down but refusing to get up.</a>
              </h2>
              <span class="author mb-3 d-block">Chinese proverb</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">Failure is the condiment that gives success its flavor.</a>
              </h2>
              <span class="author mb-3 d-block">Truman Capote</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta">
                <span class="date">Anxiety</span>
                <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
              </div>
              <h2 class="mb-2">
                <a href="single-post ">"Failures are finger posts on the road to achievement.</a>
              </h2>
              <span class="author mb-3 d-block"> C.S. Lewis</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Business Category Section -->

    
        <!-- End .row -->
      </div>
    </section>
    <!-- End Lifestyle Category Section -->
  </main>
  <!-- End #main -->

  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MindSensei</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Appointment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Child Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Couple Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Stress</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Depression</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Personal Growth Therapy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For Doctors</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Regestration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Log in </a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MindSensei</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/home/assets/swiper/swiper-bundle.min.js"></script>
  <script src="/home/assets/swiper/swiper-bundle.min.js.map"></script>

  <!-- Template Main JS File -->
  <script src="/home/assets/js/mainblog.js"></script>
</body>
</html>