<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Services</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href=" /home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href=" /home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href=" /home/assets/vendor/aos/aos.css" rel="stylesheet" />

  <!-- Template Main CSS Files -->
  <link href=" /home/assets/css/variables.css" rel="stylesheet" />
  <link href=" /home/assets/css/blogstyle.css" rel="stylesheet" />
  <link href=" /home/assets/css/style.css" rel="stylesheet" />

</head>

<body>
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">MindSensei@gamil.com</a>
        <i class="bi bi-phone"></i> 002 9909 777
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index">MindSensei</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index " class="logo me-auto"><img src=" /home/ /home/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index">Home</a></li>
          <li><a class="nav-link scrollto" href="about">About</a></li>
          <li><a class="nav-link scrollto" href="Servies">Services</a></li>

          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li>
            <a class="nav-link scrollto" href="indexblog">Blogs</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

      <div>
        <a href="patientregister" class="registration-btn scrollto">Register</a>
        <a href="patientlogin" class="login-btn scrollto">Login</a>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <main id="main">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Services</h3>

            <div class="d-md-flex post-entry-2 half">
              <a href="contact" class="me-4 thumbnail">
                <img src=" /home/assets/services/child.jpg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Child Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact">What strategies do you use to help children express themselves and
                    communicate their feelings?</a>
                </h3>
                <p>
                  As a therapist working with children, I employ a range of strategies to facilitate their expression of
                  thoughts and emotions. Play therapy is a cornerstone of my approach, providing a safe and natural
                  medium for children to communicate. Through play, children can act out scenarios, create stories, and
                  use toys to symbolically represent their feelings. Additionally, I incorporate art therapy, offering
                  children an alternative avenue for self-expression through drawing, painting, or sculpting.
                </p>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="contact" class="me-4 thumbnail">
                <img src=" /home/assets/services/couples.jpeg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Couple Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact">What are your individual needs and expectations within the
                    relationship?</a>
                </h3>
                <p>
                  In every relationship, each individual brings their own set of needs and expectations, which can
                  significantly influence the dynamics and satisfaction within the partnership. Understanding and
                  addressing these individual needs and expectations are crucial for fostering mutual understanding and
                  fulfillment. In couple therapy, I encourage partners to openly discuss and express their individual
                  needs and expectations within the relationship. This may include emotional needs such as support,
                  validation, and empathy, as well as practical needs such as communication, quality time, and shared
                  responsibilities.
                </p>

              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="contact" class="me-4 thumbnail">
                <img src=" /home/assets/services/stress.jpeg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Stress Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact">What are your goals or hopes for stress therapy? What outcomes are you
                    hoping to achieve?</a>
                </h3>
                <p>
                  In seeking stress therapy, my primary goal is to develop effective coping strategies and tools to
                  manage and reduce the impact of stress in my life. I hope to achieve a greater sense of emotional
                  resilience, enabling me to navigate challenges with more ease and confidence. By participating in
                  therapy, I aim to gain insight into the underlying causes of my stress and learn healthier ways of
                  coping with stressors. Ultimately, I aspire to experience a greater sense of peace, balance, and
                  well-being in my daily life. I am hopeful that through therapy, I will acquire practical skills and
                  techniques that empower me to respond to stress in a more adaptive and constructive manner, leading to
                  improved overall mental and emotional health.
                </p>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="contact" class="me-4 thumbnail">
                <img src=" /home/assets/services/dep1.jpeg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date"> Depression Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact">Have you experienced depression in the past, and if so, how did you cope
                    with it?</a>
                </h3>
                <p>
                  Past experiences of depression necessitated adaptive coping mechanisms and resilience-building
                  strategies. Seeking professional guidance from mental health practitioners was paramount, leading to
                  engagement in psychotherapy sessions, particularly cognitive-behavioral therapy (CBT). These
                  structured interventions facilitated the challenge of negative thought patterns and the development of
                  healthier coping strategies. Active involvement in support groups and confiding in trusted individuals
                  provided a sense of community and understanding.
                </p>
              </div>
            </div>

            <div class="d-md-flex post-entry-2 half">
              <a href="contact" class="me-4 thumbnail">
                <img src=" /home/assets/services/fear.jpg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Fear & Phobias Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact">What specific fears or phobias are you experiencing, and how do they impact
                    your daily life?</a>
                </h3>
                <p>
                  The specific fears or phobias experienced by individuals vary widely and can significantly impact
                  their daily lives. Common fears and phobias include heights (acrophobia), enclosed spaces
                  (claustrophobia), flying (aviophobia), spiders (arachnophobia), and social situations (social phobia).
                  These fears may manifest as intense anxiety, panic attacks, avoidance behaviors, and impairment in
                  various aspects of daily functioning. For example, individuals with social phobia may avoid social
                  gatherings or public speaking opportunities, while those with aviophobia may experience significant
                  distress when faced with the prospect of air travel.
                </p>
              </div>
            </div>
            <div class="d-md-flex post-entry-2 half">
              <a href="contact " class="me-4 thumbnail">
                <img src=" /home/assets/services/personal.jpg" alt="" class="img-fluid" />
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">Personal Growth Therapy</span>
                  <span class="mx-1">&bullet;</span>
                </div>
                <h3>
                  <a href="contact ">How do you envision your ideal self or life once you have achieved your
                    personal growth goals?</a>
                </h3>
                <p>
                  Personal growth leads to a deepened sense of connection with oneself and others, fostering meaningful
                  relationships and a sense of belonging within communities. Embracing continuous learning and growth
                  becomes a lifelong journey, marked by resilience in the face of challenges and a commitment to
                  personal evolution. Ultimately, the ideal self or life reflects a harmonious integration of physical,
                  emotional, mental, and spiritual well-being, contributing to a sense of purpose, fulfillment, and
                  contribution to the greater good.
                </p>
              </div>
            </div>


            <div class="aside-block">
              <h3 class="aside-title">Our Services</h3>
              <ul class="aside-links list-unstyled">
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Child,Teen,Family Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Couples Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Stress Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Anxiety & Depression Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Fear & Phobias Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Psychedelic-Assisted Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> EMDR Therapy</a>
                </li>
                <li>
                  <a href="contact "><i class="bi bi-chevron-right"></i> Personal Growth Therapy</a>
                </li>
              </ul>
            </div>
            <!-- End Categories -->

            <div class="center-wrapper">
              <button class="book-appointment-btn"> <a href="contact ">Consult Now</a></button>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MindSensei</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Appointment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Child Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Couple Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Stress</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online Therapy For Depression</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Personal Growth Therapy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For Doctors</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Regestration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Log in </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MindSensei</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" /home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src=" /home/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src=" /home/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src=" /home/assets/vendor/aos/aos.js"></script>
  <script src=" /home/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src=" /home/assets/js/main.js"></script>
</body>

</html>