<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Blogs</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/swiper/swiper-bundle.min.css" rel="stylesheet" />


  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet" />
  <link href="assets/css/blogstyle.css" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet" />

</head>

<body>
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">MindSensei@gmail.com</a>
        <i class="bi bi-phone"></i> 002 9909 777
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">MindSensei</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html  ">Home</a></li>
          <li><a class="nav-link scrollto" href="about.html">About</a></li>
          <li><a class="nav-link scrollto" href="Servies.html">Services</a></li>

          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li><a class="nav-link scrollto" href="indexblog.html">Blogs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div>
        <a href="#registration" class="registration-btn scrollto">Registration</a>
        <a href="#login" class="login-btn scrollto">Login</a>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">Overthing</span> <span class="mx-1">&bullet;</span> <span>Jul
                  5th '22</span></div>
              <h1 class="mb-5">How to stop overthinking—and start living</h1>
              <p> Overthinking can be a persistent and challenging habit that prevents us from fully engaging with the present moment and enjoying life to the fullest. One effective strategy to combat overthinking is to practice mindfulness. Mindfulness involves intentionally bringing your attention to the present moment without judgment. Engage in mindfulness meditation, yoga, or simply take a few moments each day to focus on your breath and the sensations in your body.</p>

              <figure class="my-4">
                <img src="assets/blogimg/overthinking.jpg" alt="" class="image-single">
              </figure>
              <h5>Overthinking comes from your primitive emotional part of your brain</h5>
              <p>The primitive mind will always see things from the worst possible perspective. This is because the brain is being hyper-vigilant, trying to keep us alive – there’s no sense in being optimistic about those sabre-toothed tigers I’ve mentioned before!</p>
              <p>The intellectual brain will tell us that no way will we lose our job because we called our boss by the wrong name. However, people prone to rumination are responding in that primitive fight-or-flight mode, where focusing on worst-case scenarios is more likely to keep us alive. Overthinking and anxiety work together, exacerbating the feelings of stress and helplessness.</p>
              <p>The overthinking person will not be so fortunate. If he or she is not sleeping well, due to overthinking, tossing and turning whilst ruminating over the events, then they miss out on this vital REM sleep, perhaps waking up during the night, or not able to get to sleep until the early hours by which time it’s time to get up and start the day with low energy and low mood.</p>

              <figure class="my-4">
                <img src="assets/blogimg/over1.jpg" alt="" class="image-single">
              </figure>
              <h5> How solution focused hypnotherapy can prevent overthinking?</h5>
              <p>Everyone overthinks sometimes. The problems arise for people who find it very difficult to stop the thoughts. Whereas the occasional over-thinker can intellectualise the initial worry, the real ruminator is subject to a constant barrage of negative thoughts. Naturally, it’s all too easy for a vicious circle to develop, as increased anxiety leads to further overthinking, and so on.</p>
              <p>So what we need to do is break this cycle. Solution focused hypnotherapy, with its focus on the present and the future, is a logical way of tackling overthinking. By creating a contrived trance state, we achieve a state where both sides of the brain come together – and this is when we can start to replace all these negative thoughts with positive thoughts for the future.</p>
              <p>We talk about solutions and ways forward, helping you to set achievable goals, and to recognise those times when you are coping well and to build upon those strengths and resources.Hypnosis itself reduces anxiety through relaxation and visualisation, allowing people to focus on the positive aspects of their lives, resulting in shift towards an optimistic – and indeed, realistic – perspective.</p>
            </div><!-- End Single Post Content -->


          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">
              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular"
                    aria-selected="true">QUOTES</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                  aria-labelledby="pills-popular-tab">
                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Overthinking is a slow poison. Stop sipping it.”
                    </h2>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Overthinking is the art of creating problems where none exist.” 
                    </h2>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2"> “Overthinking is the devil’s playground; don’t dance with demons.”</h2>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2"> “Stop overthinking; embrace the beauty of uncertainty.”</h2>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Stop overthinking; it’s a roadblock on your journey to success.”</h2>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Don’t let overthinking turn your garden of dreams into a jungle of doubts.”</h2>
                  </div>
                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Stop thinking too much; it’s alright not to know all the answers.”</h2>
                  </div>
                  <div class="post-entry-1 border-bottom">
                    <h2 class="mb-2">“Overthinking is the fine art of creating problems that don’t exist.”</h2>
                  </div>
                </div> <!-- End Popular -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MindSensei</h3>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="indexblog.html">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Appointment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Online Child Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Online Couple Therapy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Online Therapy For Stress</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Online Therapy For Depression</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Servies.html">Personal Growth Therapy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For Doctors</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Regestration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Log in </a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MindSensei</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>